body{
	font-family: Arial, sans-serif;
}

#header{
	height:10vh;
}

#webpage{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #E6E9FC;
	height: 735px;
	padding-top: 2vh;
	text-align: center;
}

#webpage h1{
	font-size: 4em;
	margin-bottom: 10px;
}

ul li{
		font-family: helvetica, sans-serif;
		font-weight: bold;
    margin: 15px 25px 0px 25px;
    align-items: center;
}

.store {  
	background-color: #4CAF50;
	color: white;
	font-size: 2em;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin: 10px;
}

.store:hover{
	background-color: #3e8e41;
}

.buttondiv {
	display: flex;
	height: 20vw;
	width: 20vw;
  	justify-content: center;
  	align-items: center;
  	margin: 0 auto;
}

#clickBtn {
	display: flex;
  	justify-content: center;
  	align-items: center;
  	background-color: #4CAF50;
  	width: 18vw;
  	height: 18vw;
  	border-radius: 100em;

}
#clickBtn img {
	width: 20vw;
  	height: 20vw;
}

#clickBtn:hover{
	background-color: #3e8e41;
}

#clickBtn:active{
	width: 17vw;
  	height: 17vw;
}

p{
	font-size: 1.5em;
	margin-bottom: 10px;
}

.hide{
	display: none;
}

#store{
	background-color: #C8CEE5;
	padding: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
  	transition: 1s;
}

#store h2{
	font-size: 2em;
	margin-bottom: 10px;
}

#store p{
	font-size: 1.2em;
	margin-bottom: 5px;
}

#store button{
	font-size: 1.2em;
	padding: 5px 10px;
	margin: 5px;
  border-radius: 5px;
	background-color: #008CBA;
}

#store button:hover{
	background-color: #005b84;
}

#money{
	font-family: Trebuchet MS, sans-serif;
	font-size: 30px;
}

.nav-item {
	color: white;
	font-weight: 700;
	align-self: center;
}

.nav-item:hover {
	border-bottom: 3px solid white;
}

.navbars {
	background-color: rgb(37, 40, 46);
}

.logo h3{
	font-weight: 900;
	color: white;
}

.LOGO H1 {
	font-weight: 900;
}

.logo .blue {
	color: #008CBA;
}